.root{
-fx-background-color:#d1d1d1;
-fx-font-size:13;
}
#mainCodeArea{
-fx-background-color:#dedede;
-fx-font-size:15;
-fx-border:none;
}
#mainCodeArea .text{
 -fx-fill:#0f0f0f;
}
.settingsButton{
-fx-text-fill:#0f0f0f;
-fx-background-color:#bdbbbb;
}
.settingsButton:hover{
-fx-background-color:#c4c4c4;
-fx-cursor:hand;
}
.leaveButton{
-fx-text-fill:#0f0f0f;
-fx-background-color:#bdbbbb;
}
.leaveButton:hover{
-fx-background-color:#c4c4c4;
-fx-cursor:hand;
}
.labelC{
-fx-font-size:17;
-fx-text-fill:#0f0f0f;
}
#returnButton{
-fx-background-color:#048200;
-fx-border-color:#036100;
-fx-border-width:2px;
}
#returnButton:hover{
-fx-background-color:#068f01;
-fx-border-color:#036100;
-fx-border-width:2px;
}
.terminalTextArea{
    -fx-background-color:rgb(10,10,10);
    -fx-color:rgb(156, 0, 0);
}
.menuBar .label{
-fx-text-fill: #000000;
}
.menuBar, .menuBar .menu-item, .menuBar .context-menu {
    -fx-background-color:#becbd1;
        -fx-cursor:hand;
}
.menuBar .menu-item:hover {
    -fx-background-color: #9ea8ad ;
        -fx-cursor:hand;
}
.menuBar .menu-item .label {
    -fx-text-fill: #000000;
}
.menuBar .arrow-button{
    -fx-padding: 0;
}
.menuBar .arrow-button .arrow{
   -fx-padding: 0;
}
.topMenuBar{
-fx-background-color:#c4cbcf;
}
#scrollPane{
    -fx-background-color:transparent;
     -fx-background-insets: 0;
     -fx-padding: 0;
}
#scrollPane:focused{
    -fx-background-insets: 0;
    }
#scrollPane .corner{
    -fx-background-insets: 0;
}
.main-code-area .lineno{
-fx-background-color:#dedede;
-fx-fill:#0f0f0f;
}